.BG-Linear-black{
    background: linear-gradient(145deg, #1e2024, #23272b);
}

.BG-Linear-White{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}

.BG-Solid{
    background-color: #212529;
}

.BoxCustomShadow{
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

/* Animation for Frontend and Backend Image Expand/Collapse
.image-transition {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
} */

/* Keyframes for Slide-in Text Animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Applying Slide-in animations */
.slide-in-left {
    animation: slideInLeft 0.9s ease-in-out forwards;
}

.slide-in-right {
    animation: slideInRight 0.9s ease-in-out forwards;
}

/* Transition for section widths */
.frontend-section, .backend-section {
    transition: width 0.9s ease-in-out;
}
  