.skill-box {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.skill-box.reveal {
  opacity: 1;
  transform: translateY(0);
}
  
.HoverChange {
  transition: transform 0.3s ease-in-out;
}

.HoverChange:hover{
  color: #f10350;
  transform: scale(1.1);
}